<div class="container">
    <div class="row">
        <form action="/admin/usuarios/create" method="post">
        <label for="user"> Nombre de Usuario</label>
        <input type="text" name="user" class="form-control">
        <label for="pass"> Password</label>
        <input type="text" name="pass" class="form-control">
        <button type="submit" class="btn btn-primary"> Crear Usuario</button>
        </form>
    </div>
</div>