<div class="container">
    <div class="row">
        {{#each hospitales}}
         <div class="card" style="width: 18rem; margin-right: 5rem;">
            <img src="images/{{uid}}" class="card-img-top" alt="no se encontro la imagen">
            <div class="card-body">
                <h5 class="card-title">{{nombre}}</h5>
            </div>
        </div>
        {{/each}}
    </div>
</div>