<div class="container">
    <h1>Agregar doctor</h1>
    <div class="row">
        <div class="col-8">
            <form method="POST" action="/doctor/create">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" placeholder="nombre">
                    <label for="fecha_de_nacimiento">Fecha de nacimiento:</label>
                    <input type="date" class="form-control" name="fecha_de_nacimiento" placeholder="fecha_de_nacimiento">
                    <label for="id_hospital">Id_hospital</label>
                    <select name="id_hospital" class="form-select">
                        {{#each nombres}}
                        <option value="{{id}}">{{nombre}}</option>
                        {{/each}}
                    </select>
                    <label for="sueldo">Sueldo</label>
                    <input type="number" class="form-control" name="sueldo" placeholder="sueldo" min="0">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>